*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  line-height: inherit;
  font-weight: inherit;
  font-style: inherit;
}

/*
-------------------------------------------------
    Color
-------------------------------------------------
*/
/*
-------------------------------------------------
    Margin & padding
-------------------------------------------------
*/
/*
-------------------------------------------------
    Radius
-------------------------------------------------
*/
:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

html {
  font-size: 93.75%;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--green-200);
  font-weight: 400;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  background: none;
}

button {
  border: none;
  background: none;
  box-shadow: none;
  cursor: pointer;
  outline: none;
}

img {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: contain;
}

fieldset {
  border: none;
}

input {
  outline: transparent;
  border: none;
  cursor: pointer;
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=radio],
input[type=checkbox] {
  appearance: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

textarea {
  outline: transparent;
  border: none;
  background: none;
  resize: none;
}

.container {
  inline-size: 100%;
  min-block-size: 100vh;
  padding: 1.07em;
  position: relative;
}
@media (min-width: 1200px) {
  .container {
    inline-size: 1200px;
    margin: auto;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 2.13em;
}
.header__logo {
  inline-size: 3.33rem;
  block-size: 3.33rem;
}
.header__navbar-toggler {
  position: relative;
  z-index: 2;
}
@media (min-width: 600px) {
  .header__navbar-toggler {
    display: none;
  }
}
.header__navbar-collapse {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -9999;
  opacity: 0;
}
.header__navbar-collapse--show {
  opacity: 1;
  z-index: 1;
}
@media (min-width: 600px) {
  .header__navbar-collapse {
    position: relative;
    opacity: 1;
    z-index: 1;
  }
}
.header__navbar-nav {
  display: flex;
  flex-direction: column;
  row-gap: 1.6em;
  background-color: var(--off-white);
  block-size: 100%;
  inline-size: 16.67rem;
  padding: 2.13em;
  padding-block-start: 10em;
  transform: translateX(17.33rem);
  transition: transform 0.5s ease-in-out;
}
.header__navbar-nav--show {
  transform: translateX(0px);
  transition: transform 0.5s ease-in-out;
}
@media (min-width: 600px) {
  .header__navbar-nav {
    flex-direction: row;
    padding: 0px;
    inline-size: auto;
    column-gap: 1.07em;
    transform: none;
    transition: none;
  }
}
.header__navbar-item {
  font-size: 1.2rem;
  letter-spacing: 0;
  font-weight: 400;
  line-height: inherit;
  text-transform: capitalize;
  color: var(--very-dark-blue);
}
.header__navbar-item:hover {
  color: var(--soft-red);
}
@media (min-width: 600px) {
  .header__navbar-item {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}
@media (min-width: 992px) {
  main {
    grid-template-columns: 1.3fr 0.7fr;
  }
}

.hero {
  margin-block-end: 4.27em;
}
@media (min-width: 768px) {
  .hero__image img {
    block-size: auto;
  }
}
.hero__content {
  display: flex;
  flex-direction: column;
  row-gap: 1.33em;
  margin-block-start: 1.6em;
}
@media (min-width: 600px) {
  .hero__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.07em;
  }
}
@media (min-width: 768px) {
  .hero__content {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 992px) {
  .hero__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.07em;
  }
}
.hero__content-title {
  font-size: 2.986rem;
  letter-spacing: 0;
  font-weight: 800;
  line-height: 1;
  text-transform: none;
  color: var(--very-dark-blue);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 3;
}
@media (min-width: 600px) {
  .hero__content-title {
    grid-column: 1;
    grid-row: 1/span 2;
    align-self: center;
  }
}
.hero__content-desc {
  font-size: 1rem;
  letter-spacing: 0;
  font-weight: 400;
  line-height: 1.5;
  text-transform: none;
  color: var(--dark-grayish-blue);
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 5;
}
@media (min-width: 600px) {
  .hero__content-desc {
    grid-column: 2;
    grid-row: 1;
  }
}
.hero__content-cta {
  padding: 1.07em 2.13em;
  background-color: var(--soft-red);
  align-self: flex-start;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 3px;
  font-weight: 800;
  line-height: inherit;
  text-transform: uppercase;
  color: var(--very-dark-blue);
}
.hero__content-cta:hover {
  background-color: var(--very-dark-blue);
  color: var(--off-white);
}
@media (min-width: 600px) {
  .hero__content-cta {
    grid-column: 2;
    grid-row: 2;
    justify-self: start;
  }
}

.new {
  background-color: var(--very-dark-blue);
  padding: 1.6em;
  margin-block-end: 4.27em;
}
.new__title {
  font-size: 2.074rem;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: inherit;
  text-transform: capitalize;
  color: var(--soft-orange);
}
.new__article {
  padding-block: 2.13em;
  display: flex;
  flex-direction: column;
  row-gap: 1.07em;
}
.new__article:not(:nth-last-of-type(1)) {
  border-block-end: 1px solid var(--dark-grayish-blue);
}
.new__article:nth-last-of-type(1) {
  padding-block-end: 0px;
}
.new__article-title {
  font-size: 1.2rem;
  letter-spacing: 0;
  font-weight: 400;
  line-height: inherit;
  text-transform: none;
  color: var(--off-white);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;
}
.new__article-title:hover {
  color: var(--soft-orange);
}
.new__article-desc {
  font-size: 1rem;
  letter-spacing: 0;
  font-weight: 400;
  line-height: 1.5;
  text-transform: none;
  color: var(--dark-grayish-blue);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 3;
}

@media (min-width: 768px) {
  .popular {
    grid-column: 1/span 2;
    grid-row: 2;
  }
}
.popular__list-group {
  display: flex;
  flex-direction: column;
  row-gap: 2.13em;
}
@media (min-width: 600px) {
  .popular__list-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.33em;
  }
}
@media (min-width: 992px) {
  .popular__list-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.33em;
  }
}
.popular__article {
  display: grid;
  grid-template-columns: 110px 1fr;
  column-gap: 1.07em;
  block-size: 100%;
}
.popular__article-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.53em;
}
.popular__article-number {
  font-size: 2.074rem;
  letter-spacing: 1px;
  font-weight: 800;
  line-height: inherit;
  text-transform: none;
  color: var(--soft-red);
}
.popular__article-title {
  font-size: 1.2rem;
  letter-spacing: 0;
  font-weight: 800;
  line-height: inherit;
  text-transform: none;
  color: var(--very-dark-blue);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;
}
.popular__article-title:hover {
  color: var(--soft-red);
}
.popular__article-desc {
  font-size: 1rem;
  letter-spacing: 0;
  font-weight: 400;
  line-height: 1.5;
  text-transform: none;
  color: var(--dark-grayish-blue);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0); /* fallback untuk legacy browser */
  clip-path: inset(50%); /* modern browser */
  white-space: nowrap;
  border: 0;
}

/*# sourceMappingURL=style.css.map */
